@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

#header {
    margin-left: 40px;
    margin-right: 40px;
}
#lien {
    display:flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-bottom: 80px;
    font-family: 'Montserrat';
}
.img-logo {
    margin-top: 50px;
    width: 210px;
    height: 65px;
}
.nav {
    font-size: 26px;
    color: #FF6060;
    text-decoration: none;
    margin-left: 20px;
}
.nav-active {
    text-decoration: underline;
}

/***********MEDIA QUERIES************/
@media screen and (max-width:768px) {
    #header{
        margin-left: 25px;
        margin-right: 25px;
    }
    .img-logo {
        width: 145px;
        height: 46px;
        margin-top: 20px;
    }
    #lien {
        margin-top: -35px;
        margin-bottom: 50px;
    }
    .nav {
        font-size: 16px ;
        margin-left: 10px;
    }
}

